---
---
{% include header.html %}

    <title>Osas' portfolio</title>

    <style >
      .header {
        background-image: url("../assets/nebulae/Omega_Nebula.jpg"); 
      }
    </style>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Osariemen</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin:10px;">
      
      <p style="margin-bottom: 70px; color: #808080; font-size: 22px; font-style: italic;">Octavia Project participants 
      completed a month-long workshop series where they brought their imaginary worlds to life in writings, drawings, 
      maps, prints, sculptures, 3D models, online games, and wearable electronics.</p>

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Interactive Storytelling<br /><span class="text-muted">Your Destiny</span></h2>
          <p class="lead">In this project, we made a game which was interactive with the players. I made a fortune cookie 
          game which tells your fortune. What inspired me was the outcomes that normally come out of a fortune cookie. I 
          made this project with programming codes and the software Twine. The program allowed me to change the themes 
          and colors in a way I enjoyed. <a href="yourdestiny.html">Try Osariemen's game.</a></p>
        </div>
        <div class="col-md-7">
        <a href="yourdestiny.html"> 
          <img class="featurette-image img-responsive center-block" src="portfolios/assets/Osas twine pic.png" alt="">
         </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Mapmaking<br /><span class="text-muted">Future Cities</span></h2>
          <p class="lead">My world is organized and neat. It is also green in terms of plants and trees. What 
          makes my world successful is the people that inhabit it. The people are well-educated and work together 
          to achieve this type of world. They keep it old school but at the same time modern. My world has used 
          technology and team work to make it what it is right now. People live in harmony with themselves and 
          the plants. They are conservative and at the same time liberal in consideration of matters. In my world 
          fun and hardwork coexist together so as to bring balance. My world adapts. That's why there are some empty 
          spaces, showing that my world has not reached its perfection, which is to make this world suitable for 
          humans and nature.</p>
          
        <p>My imaginary world is meant to be organized. It has more rules, houses, jobs, and 
          more urban planning. The world is balanced in population size. What inspired me was how I could make 
          the world look so organized. I made this project with drawing paper, houses organized on each side of 
          the road. My world looks symmetrical. The big building is where people work. There are lots of plants, 
          trees, and flowers, intermixed with the buildings.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="portfolios/assets/Osas map.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">3D Modeling<br /><span class="text-muted">Future Cities</span></h2>
          <p class="lead">My imaginary world is neat and organized. This project is from the same world as my 
          mapmaking project, inspired by “The Maze Runner” and “The Hunger Games.”  I used blue foam, hot glue, 
          and cardboard to make my organized world and green tissue paper to make my trees and plants.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="portfolios/assets/Osas 3D a.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading"> <br /></h2>
          <p class="lead"> And this is a different view of the 3D model I made of my future city.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="portfolios/assets/Osas 3D b.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Photographing NYC<br /><span class="text-muted">Neighborhood Imagery</span></h2>
          <p class="lead">In this project we took pictures of our environment. What inspired me was the things I see everyday, 
          with my own eyes. I made these pictures with a Nikon camera.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="portfolios/assets/Osas photag.jpg" alt="">
        </div>
      </div>
      
        <hr class="featurette-divider">

      <div style="margin: 50px auto; text-align: center; width: 50%; color: #9B99FF; font-size: 1.4em;">
        <button id="portfolio-index" class="btn btn-default" style="height: 50px; width: 40%; min-width: 180px;">
          <span style="font-size: 1.4em; color: #807EE6;">Back to Portfolios</span>
        </button>
      </div>

      <script>
        var d = document.getElementById('portfolio-index')
        d.addEventListener('click', function(){
          window.location.href = '/portfolios/';
        });
      </script>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% include footer.html %}
