---
---
{% include header.html %}

    <title>Isheyana's portfolio</title>

    <style >
      .header {
        background-image: url("../assets/nebulae/n2.jpg");
      }
    </style>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Isheyana</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin:10px;">
      
      <p style="margin-bottom: 70px; color: #808080; font-size: 22px; font-style: italic;">Octavia Project participants 
      completed a month-long workshop series where they brought their imaginary worlds to life in writings, drawings, 
      maps, prints, sculptures, 3D models, online games, and wearable electronics.</p>

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Interactive Storytelling <br /><span class="text-muted">Mad-Libs</span></h2>
          <p class="lead">I didn’t like coding until now! I made an interactive mab-lib. <a href="goldilocks.html">
              Try Isheyana's mad-lib.</a></p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Ishey_twine4.png" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Wearable Electronics<br /><span class="text-muted">Futuristic Fashion</span></h2>
          <p class="lead">I like bows so that’s why I wanted to design a headband with a bow. At the end of the workshop 
          my circuit didn’t work so it wouldn’t light up. But I went home and fixed it all by myself, came back and rocked 
          my flashing bow. </p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="Isheyana_wearables_joined.png" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Block Printing<br /><span class="text-muted">Alien Plants</span></h2>
          <p class="lead">This was my first day at the Octavia Project but I just jumped in. I liked it because 
          I love to paint! </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Isheyana_prints_joined.png" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">3D Modeling<br /><span class="text-muted">Alien Cities</span></h2>
          <p class="lead">There’s a man on a lion and a man under the lion, about to be eaten. This design was inspired 
          by my alien plant block print. You can see the giant insects and plant life of another world.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="isheyana3d.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">


      <div style="margin: 50px auto; text-align: center; width: 50%; color: #9B99FF; font-size: 1.4em;">
        <button id="portfolio-index" class="btn btn-default" style="height: 50px; width: 40%; min-width: 180px;">
          <span style="font-size: 1.4em; color: #807EE6;">Back to Portfolios</span>
        </button>
      </div>

      <script>
        var d = document.getElementById('portfolio-index')
        d.addEventListener('click', function(){
          window.location.href = '/portfolios/';
        });
      </script>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% include footer.html %}
