---
---
{% include header.html %}

    <title>Octavia Project Games</title>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1 class="hidden-xs hidden-sm">Octavia Project Games</h1>
        <h1 class="mini-header visible-xs-block visible-sm-block">Octavia Project Games</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row">
         <div class="col-sm-4">
          <h2>Octavia Project: Origins</h2>
          <p><a class="btn btn-default" href="Origins.html" role="button">Play twine game &raquo;</a></p>
        </div>   
        
        <div class="col-sm-4">
          <h2>Your Destiny</h2>
          <p><a class="btn btn-default" href="osas/yourdestiny.html" role="button">Play twine game &raquo;</a></p>
        </div>

        <div class="col-sm-4">
          <h2>Naya's Story</h2>
          <p><a class="btn btn-default" href="naya/nayastory.html" role="button">Play twine game &raquo;</a></p>
        </div>

        <div class="col-sm-4">
          <h2>Mad Lib</h2>
          <p><a class="btn btn-default" href="isheyana/madlib.html" role="button">Play twine game &raquo;</a></p>
        </div>

        <div class="col-sm-4">
          <h2>The Lakehouse</h2>
          <p><a class="btn btn-default" href="samori/TheLakehouse.html" role="button">Play twine game &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <h2>Goldylocks</h2>
          <p><a class="btn btn-default" href="diondi/goldylocks.html" role="button">Play twine game &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <h2>Fortune Cookie</h2>
          <p><a class="btn btn-default" href="isheyana/fortunecookie.html" role="button">Play twine game &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <h2>Blue Variations</h2>
          <p><a class="btn btn-default" href="blue_variations.html" role="button">Play twine game &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <h2>Snow White</h2>
          <p><a class="btn btn-default" href="troyann/Snow_white.html" role="button">Play twine game &raquo;</a></p>
        </div>
      </div>

      <div style="margin: 50px auto; text-align: center; color: #9B99FF;">
        <button id="octavia-index" class="btn btn-default btn-lg" style="height: 50px; color: #807EE6;">
          Learn more about the Octavia Project
        </button>
      </div>

      <script>
        var d = document.getElementById('octavia-index');
        d.addEventListener('click', function(){
          window.location.href = '/';
        });
      </script>
{% include footer.html %}
