---
---
{% include header.html %}

    <title>Octavia Project Portfolios</title>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Octavia Project Portfolios</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row">
        <div class="col-sm-4">
          <img class="img-circle" src="diondi/img4.jpg" alt="" width="140" height="140">
          <h2>Diondi</h2>
          <p><a class="btn btn-default" href="diondi/index.html" role="button">View portfolio &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <img class="img-circle" src="naya/Naya_plant.JPG" alt="" width="140" height="140">
          <h2>Naya</h2>
          <p><a class="btn btn-default" href="naya/index.html" role="button">View portfolio &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <img class="img-circle" src="isheyana/IMG_0921.jpg" alt="" width="140" height="140">
          <h2>Isheyana</h2>
          <p><a class="btn btn-default" href="isheyana/index.html" role="button">View portfolio &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <img class="img-circle" src="osas/Osas twine pic.png" alt="" width="140" height="140">
          <h2>Osariemen</h2>
          <p><a class="btn btn-default" href="osas/index.html" role="button">View portfolio &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <img class="img-circle" src="sada/Sada photag.JPG" alt="Generic placeholder image" width="140" height="140">
          <h2>Sada</h2>
          <p><a class="btn btn-default" href="sada/index.html" role="button">View portfolio &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Name</h2>
          <p><a class="btn btn-default" href="#" role="button">View portfolio &raquo;</a></p>
        </div>
        
        <div class="col-sm-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Name</h2>
          <p><a class="btn btn-default" href="#" role="button">View portfolio &raquo;</a></p>
        </div>
      </div>

{% include footer.html %}
