---
---
{% include header.html %}

    <title>Diondi's portfolio</title>

    <style >
      .header {
        background-image: url("../assets/nebulae/n1.jpg");
      }
    </style>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Diondi</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin:10px;">
      
      <p class="lead">This past summer Octavia Project participants completed a month-long workshop series where 
      they brought their imaginary worlds to life in writing, 3D models, drawings, maps, prints, sculptures, 
      online games, and wearable electronics.</p>

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Interactive Storytelling <br /><span class="text-muted">Goldi Locks Remix</span></h2>
          <p class="lead">My game is based on "Goldylocks and the Three Bears". In the story, the three bears are trying 
          to catch Goldylocks and kill her. She smells the porridge in their home and finds it sitting there on the table 
          and starts to eat it. What inspired me was that I like the story but I wanted to make different endings. 
          <a href="goldilocks.html">Try Diondi's game.</a></p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Diondi_Twine.png" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Clay Modeling<br /><span class="text-muted">Future Cities</span></h2>
          <p class="lead">My world is in the future, where people are living in clouds and they have birds for pets and 
          they pay no rent! There are animals walking about the city and harming no one in sight. Stores are crowded 
          everywhere and people are shopping back to back. What inspired me about this project is I’ve always wanted to 
          feel the clouds and lay on them and wished that there was no rent to pay.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="img2.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">3D Modeling<br /><span class="text-muted">Future Cities</span></h2>
          <p class="lead">This is another model of my future world, made out of blue foam.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="img3.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading"> <br /></h2>
          <p class="lead"> And this is a different view of the 3D model I made of my future city.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="img4.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Wearable Electronics<br /><span class="text-muted">Futuristic Fashion</span></h2>
          <p class="lead">In this project I made a wearable glove and arm-band and sewed lights on to them to make them glow. 
          What inspired me to make this project was a writing prompt about Beyonce and Jay-Z in space and what space suits 
          they might wear for a cosmic performance. I sewed the fabric together with the lights and conductive thread to 
          make wearable technology.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="img5.jpg" alt="">
        </div>
      </div>
      
        <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Photography<br /><span class="text-muted">NYC Imagery</span></h2>
          <p class="lead">For this project we took photos of something relatable to New York. Like the street signs, 
          cars, buses, and maybe people. The photos came out really beautiful. The images were really eye catching 
          and we were all amazed! What inspired this project was that I love taking pictures and making different 
          images. But now I’m really inspired to take pictures of New York. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="portfolios/diondi/img7.JPG" alt="">
        </div>
      </div>

      <div style="margin: 50px auto; text-align: center; width: 50%; color: #9B99FF; font-size: 1.4em;">
        <button id="portfolio-index" class="btn btn-default" style="height: 50px; width: 40%; min-width: 180px;">
          <span style="font-size: 1.4em; color: #807EE6;">Back to Portfolios</span>
        </button>
      </div>

      <script>
        var d = document.getElementById('portfolio-index')
        d.addEventListener('click', function(){
          window.location.href = '/portfolios/';
        });
      </script>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% include footer.html %}
