      <div class="hidden-xs hidden-sm" style="margin: 50px auto; text-align: center; color: #9B99FF;">
        <a role="button" class="btn btn-default btn-lg" style="height: 50px; color: #807EE6;" href="/">
          Learn more about the Octavia Project
        </a>
     </div>

     <div class="visible-xs-block visible-sm-block" style="margin: 25px auto; text-align: center; color: #9B99FF;">
        <a role="button" class="btn btn-default" style="color: #807EE6;" href="/">
          Learn more about the Octavia Project
        </a>
      </div>
