---
---
{% include header.html %}

    <title>Troyann's portfolio</title>

    <style >
      .header {
        background-image: url("../assets/nebulae/n5.jpg");
      }
    </style>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Troyann</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin:10px;">
      
      <p style="margin-bottom: 70px; color: #808080; font-size: 22px; font-style: italic;">Octavia Project participants 
      completed a month-long workshop series where they brought their imaginary worlds to life in writings, drawings, 
      maps, prints, sculptures, 3D models, online games, and wearable electronics.</p>

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Interactive Storytelling<br /><span class="text-muted">Snow White Remix</span></h2>
          <p class="lead">My game is about the story of Snow White. I imagined what the story would be like if Snow White was 
          not the main character. My story has a servent of the queen sent to kill Snow White as the main character.
          <a href="Snow_white.html">Try Troyann's game.</a></p> 
        </div>
        <div class="col-md-7">
        <a href="Snow_white.html">
          <img class="featurette-image img-responsive center-block" src="Naya_twine2.png" alt="">
        </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Block Printing<br /><span class="text-muted">Alien Plants</span></h2>
          <p class="lead">My plant can see and affect souls. The seeds fall off to touch a person or bless them. 
          My plant is inspired by a tulip or a rose. I put some more lines to affect the drawing, make it less of our 
          world and more alien.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="troyann_plantB.png" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading"> <br /><span class="text-muted"> </span></h2>
          <p class="lead">This is a scetch of my alien plant that I drew before making my block print. Next to the drawing 
          of the plant is a close-up drawing of the spore, how the seeds of the plant travel. </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="troyann_plant2.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Clay Modeling<br /><span class="text-muted">Future Cities</span></h2>
          <p class="lead">My clay model is about how the future New York City could be. In my future New York City 
          everything would be clean and beautiful.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="troyann_clay.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">3D Modeling<br /><span class="text-muted">Future Cities</span></h2>
          <p class="lead">My 3D project is about a house that I built first in my clay world. My house is 
          shaped like a teepee but it’s directed by the sun. The shape of the house grew out of my alien plant 
          design. The house is a plant as well, it grows and changes over time.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="troyann_3D.JPG" alt="">
        </div>
      </div>
      
        <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading"> <br /><span class="text-muted"> </span></h2>
          <p class="lead">This is another view of my 3D model.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
        <img class="featurette-image img-responsive center-block" src="troyann_3D2.JPG" alt="">
        </div>
      </div>
      
    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Photographing NYC<br /><span class="text-muted">Neighborhood Imagery</span></h2>
          <p class="lead">I got to take pictures of what really describes New York. I took a picture of a homeless man, 
          grannies, kids, and men playing basketball. </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="troyann_photag.JPG" alt="">
        </div>
      </div>

      <div style="margin: 50px auto; text-align: center; width: 50%; color: #9B99FF; font-size: 1.4em;">
        <button id="portfolio-index" class="btn btn-default" style="height: 50px; width: 40%; min-width: 180px;">
          <span style="font-size: 1.4em; color: #807EE6;">Back to Portfolios</span>
        </button>
      </div>

      <script>
        var d = document.getElementById('portfolio-index')
        d.addEventListener('click', function(){
          window.location.href = '/portfolios/';
        });
      </script>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% include footer.html %}
