---
---
{% include header.html %}

    <title>Naya's portfolio</title>

    <style >
      .header {
        background-image: url("../assets/nebulae/n4.jpg");
      }
    </style>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Naya</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin:10px;">
      
      <p style="margin-bottom: 70px; color: #808080; font-size: 22px; font-style: italic;">Octavia Project participants 
      completed a month-long workshop series where they brought their imaginary worlds to life in writings, drawings, 
      maps, prints, sculptures, 3D models, online games, and wearable electronics.</p>

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Interactive Storytelling <br /><span class="text-muted">Superhero Story</span></h2>
          <p class="lead">I based my Twine on a Ms. Marvel story and added my own twist to it. I allowed players to make 
          their own choices and each one will have a different outcome. <a href="nayastory.html">Try Naya's game.</a></p> 
        </div>
        <div class="col-md-7">
        <a href="nayastory.html">
          <img class="featurette-image img-responsive center-block" src="Naya_twine2.png" alt="">
        </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Block Printing<br /><span class="text-muted">Alien Plants</span></h2>
          <p class="lead">I thought of a Venus Fly Trap--it was a random thought I had. But I think of Venus 
          Fly Traps as evil, so many plant was evil. My plant has teeth and it spits poison at things it 
          feels threatened by.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="Naya_plant.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Clay Modeling<br /><span class="text-muted">Alien Cities</span></h2>
          <p class="lead">I also this off my alien plant world. I made a cave to show where the humans 
          live and how they project themselves from the evil poisonous plants.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Naya_clay1.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading"> <br /><span class="text-muted"> </span></h2>
          <p class="lead">This is another picture of my clay model. I drew a map of the city before I did my clay model, 
          and it helped because I knew where I wanted everything to be before I started in with clay.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="Naya_clay2.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">3D Modeling<br /><span class="text-muted">Alien Buildings</span></h2>
          <p class="lead">I was thinking of the world where my alien plant lives. I made a cave because that is 
          where the humans live to protect themselves from the dangerous and toxic plants. They’re little hubs 
          of caves where human live and they have shining orbs to help them see in the dark. </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Naya_3d2.JPG" alt="">
        </div>
      </div>
      
        <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Wearable Tech<br /><span class="text-muted">Alien Fashion</span></h2>
          <p class="lead">I made a bag that lights up for my people from the alien plant world. They put their 
          supplies in the bag when they go hunting for food. </p>
        </div>
        <div class="col-md-7 col-md-pull-5">
        <img class="featurette-image img-responsive center-block" src="Naya_wearables_joined.png" alt="">
        </div>
      </div>
      
    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Photographing NYC<br /><span class="text-muted">Alien Imagry</span></h2>
          <p class="lead">I took of a picture of the dirt to show an idea of what my alien plant world looks like.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Naya_photog.JPG" alt="">
        </div>
      </div>

      <div style="margin: 50px auto; text-align: center; width: 50%; color: #9B99FF; font-size: 1.4em;">
        <button id="portfolio-index" class="btn btn-default" style="height: 50px; width: 40%; min-width: 180px;">
          <span style="font-size: 1.4em; color: #807EE6;">Back to Portfolios</span>
        </button>
      </div>

      <script>
        var d = document.getElementById('portfolio-index')
        d.addEventListener('click', function(){
          window.location.href = '/portfolios/';
        });
      </script>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% include footer.html %}
