---
---
{% include header.html %}

    <title>Samori's portfolio</title>

    <style >
      .header {
        background-image: url("../assets/nebulae/n3.jpg"); 
      }
    </style>

  </head>
  <body>

    <!-- Header 
    ================================================== -->
    <div class="header">
      <div class="header-inner" role="listbox">
        <h1>Samori</h1>
      </div>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin:10px;">
      
      <p style="margin-bottom: 70px; color: #808080; font-size: 22px; font-style: italic;">Octavia Project participants 
      completed a month-long workshop series where they brought their imaginary worlds to life in writings, drawings, 
      maps, prints, sculptures, 3D models, online games, and wearable electronics.</p>

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">Interactive Storytelling<br /><span class="text-muted">Lakehouse Remix</span></h2>
          <p class="lead">After playing the other Twine games online I realized how much fun they actually were. My Twine is 
          based on a Wattpad story of Justin Beiber fan fiction called “The Lakehouse”.  I wanted to add a piece of code that 
          allows you to input a character’s name, but since my Twine is a horror story I wanted that character to be someone 
          you don’t like—your worst enemy or someone totally made up.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Sada_prints_joined.jpg" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Block Printing<br /><span class="text-muted">Alien Plants</span></h2>
          <p class="lead">I thought back to the Venus fly trap I wrote about in our writing warm-up. I wanted 
          to add a different twist to it so I made a combination of the Venus fly trap and a Lily pad.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="Sada clay A.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading">3D Modeling<br /><span class="text-muted">Imaginary Worlds</span></h2>
          <p class="lead">I made up an idea on the spot for the blue foam workshop. I thought about the movie 
          <i>Happy Feet</i> so I made an igloo with a penguin diving board. I also showed the 3D side of the igloo 
          with different levels of blocks. The puddles of hot glue represent melting ice.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive center-block" src="Sada clay B.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2 class="featurette-heading">Wearble Tech<br /><span class="text-muted">Futuristic Fashion</span></h2>
          <p class="lead">I made a superhero inspired mask for my wearable tech project. I learned a lot about 
          circuits and how much the world is changing with technology.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive center-block" src="Sada photag.JPG" alt="">
        </div>
      </div>

      <hr class="featurette-divider">


      <div style="margin: 50px auto; text-align: center; width: 50%; color: #9B99FF; font-size: 1.4em;">
        <button id="portfolio-index" class="btn btn-default" style="height: 50px; width: 40%; min-width: 180px;">
          <span style="font-size: 1.4em; color: #807EE6;">Back to Portfolios</span>
        </button>
      </div>

      <script>
        var d = document.getElementById('portfolio-index')
        d.addEventListener('click', function(){
          window.location.href = '/portfolios/';
        });
      </script>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% include footer.html %}
